<p style="color: green"><%= notice %></p>

<%= render @galaxy %>

<div>
  <%= link_to "Edit this galaxy", edit_galaxy_path(@galaxy) %> |
  <%= link_to "Back to galaxies", galaxies_path %>

  <%= button_to "Destroy this galaxy", @galaxy, method: :delete %>
</div>
